@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Paragraphs */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* Background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.attribution {    
    font-family: "Lexend Deca", sans-serif;
    font-size: 11px; text-align: center;
    margin-bottom: 24px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--very-light-gray);
    font-size: 15px;
    padding: 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main_container {
    display: flex;
    max-width: 900px;
    min-height: 500px;
}

.main_container img {
    width: 64px;
    margin-bottom: 24px;
}

.main_container h1 {
    font-family: "Big Shoulders Display", sans-serif;
    color: var(--very-light-gray);
    margin-bottom: 24px;
    font-size: 40px;
    text-transform: uppercase;
}

.main_container p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--transparent-white);
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 24px;
}

.main_container button {    
    padding: 16px 32px;
    background-color: var(--very-light-gray);
    border-radius: 100px;
    border: none;
    font-family: "Lexend Deca", sans serif;
    position: absolute;
    bottom: 48px;
    transition: 0.3s;
}

.main_container button:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--very-light-gray);
    color: var(--very-light-gray);
    cursor: pointer;
    transition: 0.3s;
}


.sedans_card {
    border-radius: 16px 0px 0px 16px;
    background-color: var(--bright-orange);
}

.suvs_card{
    background-color: var(--dark-cyan);
}

.luxury_card {
    border-radius: 0px 16px 16px 0px;
    background-color: var(--very-dark-cyan);
}

.sedans_card button {
    color: var(--bright-orange);
}

.suvs_card button{
    color: var(--dark-cyan);
}

.luxury_card button {
    color: var(--very-dark-cyan);
}

.sedans_card, .suvs_card, .luxury_card {
    box-sizing: content-box;
    position: relative;
    padding: 48px;
}

@media (max-width: 750px)  {

    

    main {
        height: fit-content;
        max-width: none;
        min-height: none;
        margin-bottom: 24px;
    }

    .main_container {
        flex-direction: column;
    }

    .main_container button {
        position: static;
        bottom: none;
    }

    .sedans_card {
        border-radius: 16px 16px 0px 0px;
        background-color: var(--bright-orange);
    }
    
    .suvs_card{
        background-color: var(--dark-cyan);
    }
    
    .luxury_card {
        border-radius: 0px 0px 16px 16px;
        background-color: var(--very-dark-cyan);
    }
}

